html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("../images/yoga.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
	height: 500px;
	background-position: center;
	background-size: cover;
	}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	width: 1200px;
	height: 600px;
	background: skyblue;
	margin: 10px auto;

}

h1{
	font-size: 50px;
	text-align: center;
	border: 4px inset hotpink;
}

.easy{
	margin: 50px 80px;
}

.easy div{
	float: left;
	margin: 50px 50px;
}

.bolt{
	width: 150px;
	height: 50px;
	position: relative;
	background: repeating-linear-gradient(-45deg, rgb(77, 78, 77)4px, rgb(75, 73, 71)7px, rgb(45, 43, 41)5px, rgb(111, 121, 131)10px);
	padding-left: 20px;
	border-radius: 10px / 10px;
}

.bolt:before{
	content: "";
	height: 50px;
	width: 50px;
	position: absolute;
	background: rgb(25, 23, 12);
	top: -26px;
	left: -48px;
	border-top-left-radius: 70%;
}

.bolt:after{
	content: "";
	height: 50px;
	width: 50px;
	position: absolute;
	background: rgb(25, 23, 12);
	top: 26px;
	left: -48px;
	border-bottom-left-radius: 70%;
}

.bolt span{
	width: 80px;
	height: 50px;
	background: rgb(25, 23, 12);
	position: absolute;
	left: -40px;
}

.gaika{
width: 100px;
height: 42px;
background: rgb(25, 23, 12);
position: relative;
display: block;
background: radial-gradient(circle, transparent 20px, rgb(75, 74, 74) 5%);
}

.gaika:before{
	content: "";
    position: absolute;
    top: -29px;
    left: 0;
    border-bottom: 29px solid rgb(75, 74, 74);
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    width: 42px;
    height: 0;
}

.gaika:after{
	content: "";
    position: absolute;
    top: 41px;
    left: 0;
    border-top: 29px solid rgb(75, 74, 74);
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    width: 42px;
    height: 0;
}

.key{
	width: 30px;
	height: 150px;
	transform: rotate(45deg);
	background: rgb(25, 23, 12);
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: radial-gradient(circle at 50% 90%, transparent 8px, rgb(75, 74, 74) 1%);
    position: relative;
}


.key:before{
	 content: "";
    position: absolute;
    width: 80px;
    height:80px;
    background: radial-gradient(ellipse 50% 80% at 50% 10%, transparent 30px, rgb(75, 74, 74) 1%);
     border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
     left:50%;
    margin-left: -40px;
    margin-top: -70px;
}

.vazovski{
    margin-left: 500px;
    margin-top: 250px;
    height: 200px;
    width: 200px;
    border-radius:100% ;
    background: rgb(95, 230, 95);
    position: relative;
}

.vazovski::before{
    content: "";
    height: 110px;
    width: 25px;
    border-radius: 10px;
    position: absolute;
    background: rgb(95, 230, 95);
    transform: rotate(-30deg);
    top: 30px;
    left:-22px
}

.vazovski::after{
    content: "";
    height: 110px;
    width: 25px;
    border-radius: 10px;
    position: absolute;
    background: rgb(95, 230, 95);
    transform: rotate(30deg);
    top: 30px;
    right:-22px;
}

.eye{
    height: 80px;
    width: 80px;
    border-radius:100%;
    border: 10px solid white;
    position: absolute;
    top: 50%;
    left:0;
    margin-top:-70px;
    margin-left: 50px;
    background: rgb(10, 114, 107);
}

.eye::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    right:0;
}

.eye::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 46px;
    border-radius:100%;
    background:linear-gradient(to bottom, transparent 50%, rgb(10, 114, 107)50%);
    left:-3px;
    bottom: -50px;
    margin-left: 20px;
}

.left_lapa{
    height: 60px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    background: rgb(95, 230, 95);
    bottom: -40px;
    left: 55px;
}

.right_lapa{
	 height: 60px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    background: rgb(95, 230, 95);
    bottom: -40px;
    right: 55px;

}

.left_lapa::before{
    content: "";
    height: 20px;
    width: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    background: rgb(95, 230, 95);
    bottom: 0;
    left: 0;
    margin-left:-5px;
}

.right_lapa{
    height: 60px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    background: rgb(95, 230, 95);
    bottom: -40px;
    right: 55px;
}

.right_lapa::before{
    content: "";
    height: 20px;
    width: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    background: rgb(95, 230, 95);
    bottom: 0;
    left: 0;
    margin-left:-5px;
}

.right_lapa:after{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    background: white;
    color:white;
    bottom: 0;
    left: -2px;
    box-shadow: 12px 0, 24px 0, -60px 0, -48px 0, -36px 0;
}

.yhki{
    width: 30px;
    height: 30px;
    border-radius:100% ;
    position: absolute;
    background: linear-gradient(to right, transparent 50%, white 50%);;
    left: 27px;
}

.yhki::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius:100% ;
    position: absolute;
    background: linear-gradient(to left, transparent 50%, white 50%);;
    left: 117px;
}

.yhki::after{
    content: "";
    height: 100px;
    width: 200px;
    position: absolute;
    background:rgb(95, 230, 95) transparent;
    left: -27px;
    top: -3px;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border-top: 20px solid rgb(95, 230, 95);
}




